.footerContainer {
	height: 90px; 
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
}

.footerContainer .trademarksContainer {
	text-align: center;
	padding: 8px;
}

.trademarksContainer ul li a{
	text-decoration: none;
	color: #424242;
	font-size: 14px;
	padding: 16px 8px;
}

.trademarksContainer ul {
	white-space:nowrap; 
	text-align:center
}

.trademarkMessage {
	text-align:center;
	font-size: 12px;
	color: #525252;
}

.trademarksContainer li {
	display:inline
}