@import "./form.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #eceef1;
}

.wrapper .small-nav {
  text-align: center;
  padding-bottom: 0;
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-bottom-color: transparent;
}

.wrapper .already-have-account {
  text-align: center;
}

.wrapper .already-have-account .signin-button {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  color: white;
  padding: 10px;
}

.wrapper .already-have-account #signin-button-div {
  display: inline;
  float: left;
  margin-left: 10px;
  text-align: right;
  font-size: 13px;
}

.wrapper .already-have-account #forgot-password {
  display: inline;
  float: left;
  margin-left: 10px;
  text-align: right;
  font-size: 13px;
}

.wrapper .signin-forgot-div {
  float: right;
}

.wrapper .already-registered-user {
  float: none;
  padding: 10px 30px;
  height: 60px;
  background: #eceef1;
}

.wrapper .main-page .favicon-mint1 {
  background: url("images/mint-favicon.svg");
  width: 23px;
  height: 23px;
  display: inline-block;
  margin-right: 4px;
  position: relative;
}

.main-logo {
  text-align: center;
  position: relative;
  width: 118px;
  display: inline-block;
  min-height: 35px;
  background-image: url("https://plugin.intuitcdn.net/identity-authn-core-ui/1.0.0-dev.93/images/ecosystem_logos_new.png");
}

.wrapper .ius-hosted-ui-logo-container {
  list-style: none;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.small-nav .nav-logo {
  display: block;
  text-align: center;
  position: relative;
}

.nav-logo ul {
  display: block;
  list-style: none;
  text-align: center;
  padding: 1em;
}

.mint-favicon {
  background:
    url("https://accounts.intuit.com/IUS-Plugins/v2/images/mint-favicon.svg")
    no-repeat;
  width: 23px;
  height: 23px;
  display: inline-block;
  margin-right: 4px;
}

.mint-text {
  background:
    url("https://accounts.intuit.com/IUS-Plugins/v2/images/mint-text.svg")
    no-repeat;
  width: 37px;
  margin-right: 4px;
  height: 23px;
  display: inline-block;
}

.quickbooks-favicon {
  background:
    url("https://accounts.intuit.com/IUS-Plugins/v2/images/quickbooks-favicon@2x.svg")
    no-repeat;
  width: 23px;
  height: 23px;
  margin-right: 4px;
  display: inline-block;
}

.quickbooks-text {
  background:
    url("https://accounts.intuit.com/IUS-Plugins/v2/images/quick-books-text.svg")
    no-repeat;
  width: 37px;
  margin-right: 4px;
  height: 23px;
  display: inline-block;
}

.turbotax-favicon {
  background:
    url("https://accounts.intuit.com/IUS-Plugins/v2/images/tt-favicon@2x.svg")
    no-repeat;
  width: 23px;
  height: 23px;
  display: inline-block;
}

.turbotax-text {
  background:
    url("https://accounts.intuit.com/IUS-Plugins/v2/images/turbo-tax-text.svg")
    no-repeat;
  width: 37px;
  margin-right: 4px;
  height: 23px;
  display: inline-block;
}

ul li .sliding-text-1 {
  animation:
    slide-left 1.1s cubic-bezier(0.7, 0, 0, 1) forwards,
    fade-in 667ms ease-in 533ms forwards;
}
